#root {
  margin: 0 auto;
  padding: 0;
}
.nav-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 10px;
}

.logo img{
  border-radius: 15px;
  border: 1px solid white;
}

.starLogo {
  width: 100px;
  height: auto;
}

.nav-dropdown {
  position: relative;
  margin-left: 16px;
}

.dropdown-button {
  padding: 8px 16px;
  background-color: yellow;
  border: white;
  border-radius: 4px;
  cursor: pointer;
  color: black;
}

.dropdown-content {
  position: absolute;
  top: 100%;
  right: 0;
  width: 200px;
  padding: 8px 0;
  background-color: rgb(106, 106, 106);
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.nav-link {
  display: block;
  padding: 8px 16px;
  color: yellow;
}

.nav-link:hover {
  color: yellow;
  background-color: black;
}

.main{
  display: flex;
  justify-content: center;
}

img {
  width: 300px;
  height: 100%;
  margin-top: 30px;
  border-radius: 15px;
  border: 1px solid yellow;
  margin-bottom: 40px;
}
.gallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}
.card {
  border: 1px solid yellow;
  width: 300px;
  margin-top: 30px;
  border-radius: 15px;
  background-color: black;
  text-align: center;
}
