* {
  margin: 0 auto;
  padding: 0;
  background-color: #242424;
  color: white;
}
.nav-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.logo img{
  border-radius: 15px;
  border: 1px solid white;
  margin-right: 20px;
}

.starLogo {
  width: 100px;
  height: auto;
}

.nav-dropdown {
  position: relative;
  margin-left: 16px;
}

.dropdown-button {
  padding: 8px 16px;
  background-color: yellow;
  border: white;
  border-radius: 4px;
  cursor: pointer;
  color: black;
  margin-left: 10px;
}

.dropdown-content {
  position: absolute;
  top: 100%;
  right: 0;
  width: 200px;
  padding: 8px 0;
  background-color: rgb(106, 106, 106);
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.nav-link {
  display: block;
  padding: 8px 16px;
  background-color: rgb(106, 106, 106);
  text-decoration: none;
  color: yellow;
}

.nav-link:hover {
  color: yellow;
  background-color: #242424;
}

.back {
  margin-left: 40px;
  margin-bottom: 40px;
}
.back-button {
  background-color: black;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
  color: yellow;
}

.main{
  display: flex;
  justify-content: center;
}

img {
  width: 300px;
  height: 100%;
  margin-top: 30px;
  border-radius: 15px;
  border: 1px solid yellow;
  margin-bottom: 40px;
}
.gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}
.card {
  border: 1px solid yellow;
  width: 300px;
  margin-top: 30px;
  border-radius: 15px;
  text-align: center;
  padding: 10px;
}
.card ul {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.card li {
  list-style-type: none;
  
}
hr {
  color: white;
  width: 90%;
}

@media (max-width: 600px) {
  .starLogo{
    width: 80px;
  }
  .nav-links h1 {
    font-size: 20px;
  }
}
