#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.nav-links a{
  padding: 0.5rem;
  color: white
}

.nav-links a:hover{
  color: yellow;
  font-size: 1.5rem;
  transition: all 0.4s ease
}

/* .starshipCard, .filmCard, .planetCard, .characterCard {
  display: grid;
  grid-template-columns:
} */

.starshipCard:hover, .filmCard:hover, .planetCard:hover, .characterCard:hover{
  color: yellow;
  font-size: 1.5rem;
  transition: all 0.4s ease;
  cursor: pointer
}

