#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}



.card {
  padding: 2em;
  display: flex;
  flex-direction: column;
}

.starship, .film, .planet, .character {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}



img {
  width: 330px;
  height: 350px;
  border: solid 2px lime;
  border-radius: 10px;
}



.app-header {
  margin-top: none;
  padding-top: none;
}

.nav {
  margin-right: 50px;
  font-size: 25px;
}

.nav-links {
  margin-left: 50px;
}

h1 {
  font-size: 80px;
  color: yellow;
}

h2 {
  font-size: 40px;
  color: yellow;
}

body {
  font-family: 'SF Distant Galaxy', sans-serif;
  background-image: url(https://img.freepik.com/premium-vector/space-background-with-stars-vector-illustration_97886-319.jpg)
}

.card:hover {
  filter: drop-shadow(10px 10px 10px lime);
  cursor: pointer;
  color: lime;
}

.nav:hover {
  color: lime;
  cursor: pointer;
}

.goBack:hover {
  color: lime;
  cursor: pointer;
}

strong {
  color: yellow;
}

.individualDisplay {
  display: flex;
  flex-direction: row;
}

.additionalInfo {
  text-align: left;
  margin-left: 50px;
}

.individualCard {
  margin-left: 50px;
}

.individualTitle {
  padding-right: 50px;
}


